* , *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	text-align: center;
	font-family: 'sofia-pro', sans-serif;
	color:#F6F8FF;
	padding:0;
	margin: 0 auto;
}
.opener{
	min-height: 100%;
	background-color: #333745;
	background-attachment: fixed;


}
.opener img {
	width:80%;
	padding: 25px;
	margin-bottom: 30px;
	display: inline-block;
}
.top-navigation ul{
	list-style: none;
	margin: 0;
	padding:0;
	display: inline-block;
	color: #FE5F55;

}
li{
	padding: 40px;
	font-size:2vw;
	font-family:'Source Code Pro', sans-serif;

	
}

.rotateAbout{
	z-index: 1000;
	position:fixed;
	left:0px;
	top:33%;
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

}
.rotateContact{
	position: fixed;
	right: 0px;
	top: 33%;

	/* Safari */
	-webkit-transform: rotate(90deg);

	/* Firefox */
	-moz-transform: rotate(90deg);

	/* IE */
	-ms-transform: rotate(90deg);

	/* Opera */
	-o-transform: rotate(90deg);
}
.navWork{
	position: fixed;
	left:0;
	right:0;

}
li a {
	text-decoration: none;
	color: #FE5F55;

}
.intro{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row /* works with row or column */
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	margin-top: 100px;
	
}
.name {
	font-size: 5vw;
	text-align: right;
	color:white;
	position: relative;
	left:15%;
	letter-spacing: 3px;

}
.sophpoz{
	color:#A3EBF2;
}
.description{
	font-family:'Source Code Pro', sans-serif;
	font-size: 1.75vw;
}

img{
	display: block;
	width: 100%;
	
}
.email a{
	text-decoration: none;
    color: #333745;
}
#work{
	display: flex;
	align-items: center;
 	justify-content: center;
 	background-color: #A3EBF2;
	
}

.illWorkTitle{
	justify-content: center;
	flex-direction: column;
	width: 50vw;
	color: #FE5F55;
	font-size:3.5rem;

}
.illWorkExamples{
	justify-content: center;
	flex-direction: column;
	width:50vw;
	font-family: 'sofia-pro', sans-serif;
	background-color: #ECF8F8;
	color:#FE5F55;
}
.illWork{
	display: flex;
	align-items: center;
 	justify-content: center;
 	background-color: #333745;
}
.webWorkTitle{
	justify-content: center;
	flex-direction: column;
	width: 50vw;
	color: #333745;
	font-size:3.5rem;
	background-color: #A3EBF2;

}

.cc, .yogaQuiz, .hotCold, .etsy{
	width:50vw;
	height: 500px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size:4rem;
    background-repeat: no-repeat; 
    background-size: cover;
	
}
.cc{
	background-image:url('https://i.imgsafe.org/8e4b3d5bbe.png');
}
.yogaQuiz{
	background-image:url('https://i.imgsafe.org/8e6a372bde.png');
}
.hotCold{
	background-image:url('https://i.imgsafe.org/8ea8988552.png');
}
.etsy{
	background-image:url('https://i.imgsafe.org/3cfbc726bc.png');
}

button{
	width: 100px;
	height:100px;
	border-radius: 50px;
	font-size:4rem;
	padding-bottom: 10px;
	color:#FE5F55;
	background-color: #ECF8F8;
	border: none;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    transition: 200ms all ease-in-out;
    z-index: 100;
}
button:hover{
	color:#ECF8F8;
	background-color: #FE5F55;
	position: relative;
    top: -5px;
}

.webWorkExamples{
	justify-content: center;
	flex-direction: column;
	width:50vw;
	font-family: 'sofia-pro', sans-serif;
	background-color: #ECF8F8;
	color:#333745;
	
}
.contact{
	background-color: #FE5F55;
	background-attachment:fixed;
	background-repeat: no-repeat;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
	justify-content:center;
	-webkit-align-items: center;
	align-items: center;
	color:#333745;
	min-height: 50vh;
	width:100vw;
	font-family:'Source Code Pro', sans-serif;
}
.about{
	color:#333745;
	display: flex;
	align-items: center;
 	justify-content: center;
 	background-color: #A3EBF2;

}

.aboutTitle{
	background-color: #A3EBF2;
	justify-content: center;
	flex-direction: column;
	width: 50vw;
	font-size:3.5rem;
	color: #333745;
}

.aboutContent{
	font-size:1.25rem;
	font-family:'Source Code Pro', sans-serif;
	background-color: #ECF8F8;
	width: 50vw;
	display: flex;

}

.aboutMe{
	padding: 70px;
	align-items:center;
	justify-content:center;
}
.hi{
	font-size: 3rem;
	padding-bottom:30px;
	font-family: 'sofia-pro', sans-serif;
}
.dog{
	padding-top: 30px;
}

i {
	color:#333745;
}
i:hover{
	color:#FE5F55;
}
.info{
	font-size:3vh;
	border: 10px solid #A3EBF2;
	padding:20px;
	background-color: #ECF8F8;
	font-size: 1rem;
	margin: 30px;
}
.email{
	margin-top: 25px;
	letter-spacing: 8px;
	text-decoration: none;
	font-size: 1.25rem;
	font-family: 'sofia-pro', sans-serif;
}
.line{
	width: 40px;
	height: 5px;
	background: #333745;
	margin-left: 225px;


}
.social{
	margin-top: 25px;
}
#contactCreatorText, #hotColdText, #yogaQuizText, #etsyText {
	display: none;
	width: 100vw;
	height: 100vh;
	color: #333745;
	background-color: #FE5F55;
	position: fixed;
	top: 0;
	left: 0;
	padding: 2em;
	z-index: 1000;
	font-size: 20px;
	overflow: scroll;
}
.container{
	display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
}
.title{
	font-size: 60px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left:15%;
    border-left: 8px solid;
    border-bottom: 8px solid;
    padding-left:20px;
    bottom:-100px;
    width: 50%;

}
#hotColdText .container .title{
	color:#A3EBF2;
}
#hotColdText .theText{
	border-color: #333745;
}
.x{
	font-size: 100px;
	position: fixed;
	top:0;
	left:0;
	padding: 50px;

}
.picture{
	justify-content: center;
    flex-direction: column;
}
.theText{
	border:10px solid #A3EBF2;
	background-color: #FE5F55;
}
.context{
	display: flex;
	align-items: center;
    justify-content: space-around;
	padding:20px;
	
}

.explanation{
	justify-content: center;
    flex-direction: column;
    padding:50px;
    width:60%;
    text-align:left;
}
.technology{
	justify-content: center;
    flex-direction: column;
    padding:50px;
    width:40%;
    text-align:left;
}
.technology ul li {
	font-size: 30px;
	list-style-type: none;
	padding: 15px;
	text-align: center;
}
.code{
	padding:30px;
}
#sp{
	display: none;
}
.sp img{
	width:10%;
	position: fixed;
	bottom: 0;
	left:0;
	padding: 20px;
}
button, a {
	cursor: pointer;

}
#etsyText a, #contactCreatorText a, #hotColdText a, #yogaQuizText a{
	text-decoration: none;
	color:#333745;
}
#contactCreatorText img{
	width: 80%;
}
#hotColdText .title{
	left:5%;
}
@media only screen and (max-width:850px) {
	body{
		width: 100vw;
	}
	.opener{
		min-height: 100%;
	}
	li{
		padding: 15px;
		display: inline-block;
		font-size: 20px;
	}
	.rotateAbout, .rotateContact, .navWork{
		position: auto;
		-webkit-transform: rotate(0deg);

		/* Firefox */
		-moz-transform: rotate(0deg);

		/* IE */
		-ms-transform: rotate(0deg);

		/* Opera */
		-o-transform: rotate(0deg);
		top: 0px;
	}
	.intro{
		display:block;
		margin-top: 50px;

	}
	.name{
		font-size: 15vw;
		line-height: 75%;
		text-align: center;
		left: 0;

	}
	.description{
		font-size:3.5vw;

	}
	.opener img {
		width: 100%;
		padding: 25px;
		padding-top: 10px;

	}
	#work, .illWork,.about{
		display: block;
	}
	.webWorkTitle, .aboutTitle{
		width: 100vw;
	}
	.webWorkExamples, .illWorkExamples, .aboutContent{
		width: 100vw;
	}
	.aboutContent{
		height:100vh;
	}
	.contact{
		height:100vh;
	}
	.cc, .yogaQuiz, .hotCold, .etsy{
		width: 100vw;
		height: 250px;
	}
	.illWorkTitle{
		padding: 20px;
		width: 100vw;
	}
	.hi{
		font-size: 3.5rem;
		padding-bottom: 0;
	}
	.aboutMe{
		padding: 30px;
		margin: auto;
	}
	button{
		font-size: 2rem;
	}
	#sp img{
		width:30%;
	}
	/*#contactCreatorText, #hotColdText, #yogaQuizText, #etsyText{
		display: block;
	}*/
	.x{
		font-size: 40px;
	}
	.container{
		display: block;
	}
	.title{
		border: none;
		bottom:-20px;
		width: 100%;
		line-height: 45px;
		left:0;
		padding-left: 0;
	}
	.context{
		display: block;
	}
	.explanation{
		width: 100%;
		padding:15px;
	}
	h1{
		font-size: 1.25em;
		margin:0;
	}
	.project{
		margin-bottom: 5px;
	}
	.technology{
		width: 100%;
		padding:10px;
	}
	.technology ul{
		padding:0;
	}
	.technology ul li{
		display: list-item;
		text-align: left;
		font-size: 20px;
	}
	.code{
		padding: 10px;
		margin-top: -50px;
	}
}
